<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<title> footer </title>
<link rel="stylesheet" type="text/css" href="../public/style.css">

</head>
<body>
        <hr> 
<nav>
    <footer> je suis le footer </footer>
    </nav>

</body>
</html>

