<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<title> menu </title>
<link rel="stylesheet" type="text/css" href="../public/style.css">

</head>
<body>

    <nav>
        <a href="/"> index</a>
        <a href ="/accueil/"> accueil</a>
        <a href="/chocolat/"> chocolat</a>
        </nav>



</body>
</html>
   
  